:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#ee4d2d;
    --boder-color:#dbdbdb;
    --header-hight:120px;
    --navbar-height:40px;
    --header-sort-bar-height:46px;
    --header-with-search-height:calc(var(--header-hight) - var(--navbar-height))
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes headernotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* test -------------------------*/
.grid__colunm-2{
    padding: 0 5px;
    width: 16.6667%;
}
.grid__colunm-2-10{
    padding: 0 5px;
    width: 20%;
}
.grid__colunm-10{
    padding: 0 5px;
    width: 83.3333%;
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: headernotifyGrowth ease-in 0.25s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.modal__body{
    margin: auto;
    z-index: 1;
}
/* button */
.btn{
    min-width: 124px;
    height: 30px;
    border:none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
    color: var(--text-color);
}
.btn:hover{
    background-color: rgba(0,0,0,0.05);
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--disabled{
    cursor: default;
    background-color: #999;
    color: #949494;
}
.select-input{
    min-width: 200px;
    height: 30px;
    border:none;
    border-radius: 2px;
    background-color:var(--white-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    position: relative;
}
.select-input__label-icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    cursor: pointer;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    position: absolute;
    left: 0;
    top: 25px;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    padding:10px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__list::before{
    content: "";
    height: 10px;
    width: 200px;
    position: absolute;
    right: 0;
    top:-10px;
}
.select-input__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 5px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}
/* ------------------------------- -------------------------------------*/
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item{
    margin: 0 10px;
}

.pagination-item__link{
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 50px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    font-weight: 400;
}
.pagination-item__active.pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item__active.pagination-item__link:hover{
    background-color: #ed5c3f;
}